        /*--------------------------------the navigation-----------------..*/
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

        .the-container-for-navigation {
            float: left;
            height: 100%;
            width: 17%;
            margin-bottom: 50px;
            position: fixed;
            font-family: "poppins", sans-serif;
            background-color: white;
            z-index: 10;
        }

        .the-container-for-navigation a {
            color: grey;
            display: block;
            margin-top: 10%;
            margin-left: 25px;
            font-size: 17px;
        }

        .the-container-for-navigation a:hover {
            color: silver;
            text-decoration: none;
        }

        /*search*/
        .the-form-for-the-search {
            display: flex;
            margin-top: 30px;
            margin-left: 10px;
            border: 1px solid lime;
            width: fit-content;
            border-radius: 5px;
        }

        #theSearchboxVNAv {
            border-right: none;
            margin-top: 0px;
            margin-left: 0px;
            padding: 10px;
            border: none;
        }

        .the-search-icon {
            margin-left: -20px;
            padding: 12px;
            border: none;
            background-color: transparent;
            font-size: 20px;
            color: lime;
        }

        /*the number of posts*/
        .number-of-blogs-container {
            margin-top: 5%;
        }

        .number-of-blogs-container p {
            color: green;
            font-size: 14px;
            font-family: "poppins", sans-serif;
        }

        /*the no results result*/
        .no-result-container {
            margin-bottom: 150px;
            margin-top: 10%;
            width: 50%;
        }

        .no-result-header {
            color: green;
            font-weight: bold;
            font-size: 20px;
        }

        .the-search-icon:hover {
            color: orangered
        }

        #theSearchboxVNAv:focus {
            box-shadow: none !important;
            outline-offset: 0px !important;
            outline: none !important;
        }


        /*#theSearchboxVNAv:focus {
    transition: 0.5s;
    border: 1px solid lime !important;
    box-shadow: none !important;
    outline-offset: 0px !important;
    outline: none !important;
}
*/



        /*-----------------------------------------the blog divs------------------------------*/
        /*link styling*/
        .containerForAllThePosts a {
            color: #000000;
        }

        .containerForAllThePosts {
            width: 60%;
            float: right;
            margin-right: 30px;
            font-family: "poppins", sans-serif;
        }

        .theContent-inside-the-divs {
            margin-top: 10px;
        }

        .theFooterContainer {
            clear: both;
        }

        .The-divs {
            margin: 20px;
            margin-top: 20px;
            border: 1px solid rgb(207, 207, 207);
            width: 90%;
            height: 30dvh;
            border-left: none;
            border-right: none;
            border-bottom: none;
            cursor: pointer;
        }

        .theTitleContainer {
            height: 100%;
            width: 40%;
            margin-left: 20px;
            margin-top: 10px;
            float: left;
        }

        .theTitle {
            font-weight: bolder;
            font-size: 16px;
        }

        /*------------------image section--------------------*/

        .the-image-div {
            float: right;
            width: 30%;
            height: 100%;
            margin-right: 10px;
            overflow: hidden;

        }

        .the-image-div img {
            width: 100%;
            height: fit-content;
        }

        /*....................................responsive....................................*/
        @media(max-width:1115px) {
            .The-divs {
                border: 1px solid rgb(207, 207, 207);
                width: 90%;
                height: 35dvh;
            }
        }

        @media(max-width:790px) {
            .containerForAllThePosts {
                width: 68%;
            }

            .The-divs {
                width: 90%;
                overflow: hidden;
            }
        }

        @media(max-width:690px) {

            /*remove the nav container*/
            .the-container-for-navigation {
                display: none;
            }

            .containerForAllThePosts {
                width: 90%;
            }
        }

        @media(max-width:600px) {
            .containerForAllThePosts {
                width: 90%;
                float: none
            }

            .The-divs {
                width: 100%;
                height: 100%;
            }

            .theTitleContainer {
                height: 100%;
                width: 70%;
                float: float;
            }

            .theTitle {
                font-size: 13px;
            }

            .the-image-div {
                width: 20%;
            }
        }

        .pagination {
            letter-spacing: 6px;
            font-size: 18px;
        }

        .pagination .svg1 {
            width: 25px;
            height: 25px;
            color: black;
            border: 1px solid lime;
            border-radius: 5px;
            padding: 5px;
        }