body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

img {
  height: 80px;
  margin-top: 10px;
}

.navigationBox {
  margin-top: -15px;
  padding: 0px;
  display: flex;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 70px;
}

.navigationBoxlink a {
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  padding: 0px;
  margin-left: 15px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
}

.navigationBoxlink a:hover {
  color: silver;
  text-decoration: none;
}

.theimageLogos {
  display: flex;

}

.themainimage {
  margin-top: 6px;
  height: 50px;
  margin-left: 10px;
}

.secondImage {
  height: 55px;
  margin-top: 7px;
  margin-left: 4px;
}

.navigationBoxlink i {
  margin-left: 20px;
  cursor: pointer;
}

.menu {
  font-size: 30px;
}

.menu i {
  position: relative;
  top: -10px;
  right: 5px;
}

.the-search-bar-onn-the-nav {
  display: block;
  border: 1px solid lime;
  border-radius: 5px;
}

@media(min-width:890px) {
  .menu {
    display: none;
  }

}

@media(max-width:890px) {
  .menu {
    display: block;
    float: right;
    position: absolute;
    right: 10px;
    margin-top: 0px;
  }

  .navigationBox {
    height: 62px;
  }

  .navigationBoxlink a {
    display: none;
  }

  .the-search-bar-onn-the-nav input {
    display: none;
  }

  .the-search-bar-onn-the-nav:focus {
    transition: 0.5s;
    border: 1px solid lime !important;
    box-shadow: none !important;
    outline-offset: 0px !important;
    outline: none !important;

  }

  .theSearchBarRemove::before {
    display: none;
  }
}

@media(min-width:890px) {
  #mySidenav a {
    display: block;
  }
}

/*logo*/
@media(max-width:890px) {
  .themainimage {
    position: absolute;
    left: 55%;
    transform: translate(-50px);
  }

  .secondImage {
    display: none;
  }

  .navigationBox {
    height: 75px;
  }
}

/*..................side bar navigatoin........................*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav a {
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -15px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}


.navigationBox form {
  display: inline-flex;
  margin-left: 10px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 5px;
  margin-top: 15px;

}

.navigationBox input {
  padding: 5px;
  border: none;
}

#theSearchboxVNAv {
  border-right: none;
  margin-top: 0px;
  margin-left: 0px;
  padding: 10px;
  border: none;
}

#theSearchboxVNAv {
  background-color: transparent;

}

.the-search-icon {
  margin-left: -20px;
  padding: 12px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: lime;
}

.the-search-icon:hover {
  color: orangered
}

#theSearchboxVNAv:focus {
  box-shadow: none !important;
  outline-offset: 0px !important;
  outline: none !important;
  background-color: transparent;
}

.the-other-links a {
  color: rgb(95, 95, 95);
  padding: 3px;
  font-size: 14px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px
  }

}


/*.................................................the footer styling...........................................*/
footer {
  clear: both;
}

.theFooterContainer {
  width: 100%;
  position: relative;
  border-top: 2px solid rgba(128, 128, 128, 0.795);
  clear: both;
  z-index: 11;
  background-color: white;
}

.theFooterTopDiv {
  height: 50vh;
  margin-top: 50px;
  clear: both;
}

.theFooterLogo {
  margin-left: 20px;

}

.theFooterLogo img {
  height: 100px;
  float: left;
}

.the-word-at-thefooter {
  width: 200px;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  border-bottom: 3px solid lime;
  font-family: "poppins", sans-serif;
}

.the-first-class-of-links {
  float: right;
  margin-right: 200px;
  margin-top: 30px;
  display: grid
}

.the-first-class-of-links a {
  color: grey;
  margin-top: 15px;
}

.the-first-class-of-links a:hover {
  text-decoration: none;
  color: silver;
}

.in-the-void-all-rights-reserved-container {
  position: relative;
  bottom: -20px;
  background-color: white;
}


@media(max-width:670px) {
  .the-first-class-of-links {
    float: none;
    clear: both;
    margin-bottom: 590px;
    margin-top: 30px;
    margin-left: 30px;
  }

  .the-first-class-of-links a {
    margin-top: 15px;
  }

  .the-word-at-thefooter {
    margin-left: 2%;
  }

  .theFooterLogo {
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

@media(min-width:470px) {
  .the-first-class-of-links a {
    margin-left: 20px;
  }

}